extends layout 

block content 
  a(href="/")< Back
  br 
  br
  <form method="POST" action="/new">
  <label for="name">Name</label>
  <input id="name" name="name">
  br 
  br
  <label for="messageText">Message</label>
  <input id="messageText" name="messageText">
  br
  br
  <button>Submit</button>
  </form>